@page "/fetchdata"
@using BlazorApp.Shared
@inject HttpClient Http

<h1>@companies?.Length</h1>



@if (companies == null)
{
    <p><em>Loading...</em></p>
    <form>
        <input type="text" @oninput="UpdateText" />
        <button type="button" @onclick="SubmitForm">Enter</button>
    </form>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Website</th>
                <th>Rating</th>
                <th>Phone No.</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in companies)
            {
                <tr>
                    <td>@company.Name</td>
                    <td>@company.Website</td>
                    <td>@company.Rating</td>
                    <td>@company.PhoneNumber</td>
                    <td>@company.Address</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private WeatherForecast[] forecasts;
    private List<Object> CompanyPlaceIDs;

    private string queryInput;
    private string rating;
    private Company[] companies;

    private void UpdateText(ChangeEventArgs e)
    {
        queryInput = e.Value.ToString();
    }

    private async void SubmitForm()
    {
        await GetTaskAsync();
        StateHasChanged();

    }

    protected async Task GetTaskAsync()
    {
        companies = await Http.GetFromJsonAsync<Company[]>($"GoogleData/GetCompanies?query={queryInput}");
    }

}
